*{
    margin: 0;
    max-width: 1200px;
}
h1{
    size: 2.5em;
}
h3{
    size: 1.5em;
}

#icono {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

#titulo {
    text-align: center;
}

.cabecera{
  
  min-height: 120px;
  background-color: #344B80;
  display: flex;
  align-items: center;
}

.contenedor {
    
    align-items: center;
}

.imagen2 {
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.texto-derecha {
    flex: 1;
}

.texto-adicional {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.texto-adicional p {
    margin-right: 20px;
}

.caja{
    display: flex;
    min-height: 400px;
    min-width: 200px;
}

main {
    flex: 3; /* El contenido principal ocupa 3/4 del ancho. */
    background-color: #6490F5;
    padding: 20px;
}

aside {
    flex: 1; /* El aside ocupa 1/4 del ancho. */
    background-color: #567BD1;
    padding: 10px;
}

.partee1, .partee2 {
    flex: 1;
    
    padding: 10px;
    background-color: #344B80;
    
}

.parte1 {
    background-color: #555;
}

.parte2 {
    background-color: #777;
}

footer{
    display: flex;
    
    min-height: 80px;
    max-height: 80px;
}
.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.menu-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    display: block;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu:hover .menu-list {
    display: block;
}
